In [1]:
import pandas as pd

In [2]:
online_retail = pd.read_excel('/home/awantik/Downloads/Online Retail.xlsx')

In [3]:
online_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [4]:
online_retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### Understanding the data
* We will try to understand what each column means
* InvoiceNo - The bill number, products which are bought together have same invoice number
* StockCode - It's unique product id
* Description - Information about the product
* Quantity - Number of times in a bill that item was purchased
* InvoiceDate - Date in which purchase was done
* UnitPrice - Price of each item
* CustomerId - Unique identifier of customer
* Country - Where the purchase is happening

In [6]:
online_retail.StockCode.value_counts()

85123A    2313
22423     2203
85099B    2159
47566     1727
20725     1639
          ...
84839        1
35644        1
35594        1
85018B       1
21268        1
Name: StockCode, Length: 4070, dtype: int64

In [8]:
online_retail[online_retail.StockCode == '85123A'].count()

InvoiceNo      2313
StockCode      2313
Description    2313
Quantity       2313
InvoiceDate    2313
UnitPrice      2313
CustomerID     2077
Country        2313
dtype: int64

### Stage 1 : Questions based on this data
1. How many unique billing was made?
2. How many total customers are there?
3. Which day of the week most sale was done?
4. What is the most popular product?
5. In which country should you open more stores?